<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: blueviolet">

<a href="http://localhost:8080/login">로그인하기</a>

</body>
</html>