<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sw역량모니터링시스템</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="samstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">


    <script type='text/javascript' src='lib/jquery-3.4.1.min.js'></script>
    <script type='text/javascript' src='lib/jquery.autocomplete.min.js'></script>
    <script type='text/javascript' src="lib/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type='text/javascript' src='mainpage.js'></script>
    <style>
        .container {
            margin-top: 70px;
            width: 100%;
            height: 100%;
        }
        /*
        .fixed_footer {
            width: 100%;
            height: 100px;
            background: #111;
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: -100;
        }
        
        .fixed_footer p {
            color: #696969;
            column-count: 2;
            column-gap: 50px;
            font-size: 1em;
            font-weight: 300;
        }
        */
    </style>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <!--반으로 줄였을때 메뉴보이게 하는 버튼 그림에서 짝대기-->
                    </button>
            <a href="main_1_first.html" target="fullpageiframe" class="navbar-brand">
                <img src="samimage/logo_transparent.png" alt="sam 로고" style="margin-top:-13px"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="topMenu">
                <li><a href="main_1_first.html" target="fullpageiframe">HOME</a></li>
                <li><a href="main_2_language.html" target="fullpageiframe">언어</a></li>
                <li><a href="main_3_project.html" target="fullpageiframe">프로젝트</a></li>
                <li><a href="main_4_intern.html" target="fullpageiframe">인턴</a></li>
                <li><a href="main_5_edu.html" target="fullpageiframe">정부/기업 교육</a></li>
                <li><a href="main_6_cert.html" target="fullpageiframe">공인성적</a></li>
                <li><a href="main_7_grade.html" target="fullpageiframe">이수 성적</a></li>
                <li><a href="main_8_interest.html" target="fullpageiframe">관심 분야/목표</a></li>
                <li><a href="main_9_footprint.html" target="fullpageiframe">발자취</a></li>

            </ul>
        </div>
    </nav>
    -->
    <!-- #header -->
    <div class="container">
        <div>
            <iframe name="fullpageiframe" width="100%" height="1000px" src="main_1_first.html" frameborder="1" allowfullscreen></iframe>
        </div>
    </div>
    <!--
    <footer class="fixed_footer">
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus nemo quo totam neque quis soluta nisi obcaecati aliquam saepe dicta adipisci blanditiis quaerat earum laboriosam accusamus nesciunt! Saepe ex maxime enim asperiores
                nisi. Obcaecati nostrum nobis laudantium aliquam commodi veniam magni similique ullam quis pariatur voluptatem harum id error.</p>
        </div>
    </footer>
-->
</body>

</html>